:root {
  --page-bg: #ffffff;
  --text: #111111;
  --muted: #444444;

  --input-bg: #f3f4f6;
  --input-border: #eeeeee;

  --btn-bg: #006cff;
  --btn-text: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR", sans-serif;
  background: var(--page-bg);
  color: var(--text);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}

.hero {
  width: 100%;
  text-align: center;
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.brand__mark {
  height: 70px; /* 필요하면 조절 */
  width: auto;
  display: block;
  object-fit: cover;
}

/* .brand__name {
  font-weight: 800;
  letter-spacing: 1px;
} */

.hero__title {
  margin: 0 0 18px;
  font-size: clamp(28px, 4vw, 60px);
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.hero__subtitle {
  margin: 4rem 0 4rem;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--muted); /* #333333 */
}

.search {
  width: min(520px, 86vw);
  /* margin-top: 40px; */
}

.search__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.search__row {
  display: flex;
  gap: 10px;
}

.search__input {
  flex: 1;
  height: 56px;
  padding: 0 18px;
  border-radius: 14px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  font-size: 18px;
  outline: none;
}

.search__input:focus {
  border-color: #d1d5db;
}

.search__button {
  height: 56px;
  padding: 0 18px;
  border: 0;
  border-radius: 14px;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-weight: 700;
  cursor: pointer;
}

.search__button:active {
  transform: translateY(1px);
}

.search__hint {
  margin: 10px 0 0;
  font-size: 13px;
  color: #777777;
}

/* 이전 다음 */
.nav-buttons {
  display: flex;
  gap: 12px;
  margin-top: 5rem;
}

.nav-btn {
  flex: 1;
  height: 48px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.nav-btn.prev {
  background: #e5e7eb;
  color: #333;
}

.nav-btn.next {
  background: #2563eb;
  color: white;
}